.alert-success {
   background-color: green
}

.alert-warning {
   background-color: yellow;
}

.alert-danger {
   background-color: red;
}

.alert-info {
   background-color: teal;
}

nav li {
   display: inline;
   background-color: rgb(255, 255, 255);
}

nav li a {
   color: rgb(0, 0, 0)
}

input {
   border-radius: 90%;
}

body {
   background-color: rgb(4, 0, 20);
   color: rgb(255, 255, 255);

}